<ion-view view-title="Crear Aula">
  <ion-content padding="true">
    <label class="item item-input">
      <span class="input-label">Nombre</span>
      <input type="text" ng-model="place.name">
    </label>
    <label class="item item-input">
      <span class="input-label">Piso</span>
      <input type="text" ng-model="place.floor">
    </label>
    <div class="padding">
      <button class="button button-block button-dark" ng-click="create(place)">
        Crear
      </button>
    </div>
  </ion-content>
</ion-view>