<ion-view view-title="Eventos">
  <ion-content>
    <ion-list >
      <ion-item ng-repeat="evento in eventos">
         <p class="text-center">{{evento.name}} </p>
         <p class="text-center">{{evento.description}} </p>
         <p class="text-center">{{evento.date | date:'fullDate'}}</p>
         <p class="text-center">{{evento.place}} </p>
      </ion-item>
      <ion-item class="text-center positive" href="#/tabs/eventos/create"> 
        Crear
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
