<ion-view view-title="Crear Aula">
  <ion-content padding="true">
    <label class="item item-input">
      <span class="input-label">Nombre</span>
      <input type="text" ng-model="materia.nombre">
    </label>
    <label class="item item-input">
      <span class="input-label">Sigla</span>
      <input type="text" ng-model="materia.sigla">
    </label>
    <div class="padding">
      <button class="button button-block button-positive" ng-click="create(materia)">
        Crear
      </button>
    </div>
  </ion-content>
</ion-view>