<ion-view view-title="Crear Evento">
  <ion-content padding="true">
    <label class="item item-input">
      <span class="input-label">Nombre</span>
      <input type="text" ng-model="evento.name">
    </label>
    <label class="item item-input">
      <span class="input-label">Descripcion</span>
      <input type="text" ng-model="evento.description">
    </label>
    <label class="item item-input">
      <span class="input-label">Fecha</span>
      <input type="date" ng-model="evento.date">
    </label>
    <label class="item item-input">
      <span class="input-label">Lugar</span>
      <input type="text" ng-model="evento.place">
    </label>
    <div class="padding">
      <button class="button button-block button-positive" ng-click="create(evento)">
        Crear
      </button>
    </div>
  </ion-content>

</ion-view>