<ion-view view-title="Topic Detail">
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh..." on-refresh="loadPosts()"></ion-refresher>
    <div>
      <div class="item item-content">
        <input type="text" placeholder="Comparte algo" ng-model="data.content">
      </div>
      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" ng-click="createPost()">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>
    </div>

    <div ng-repeat="post in posts" class="list card">

      <div class="item item-content">
        <p>{{post.title}}</p>
        <p>{{post.date | date}}</p>
      </div>

      <div class="item item-body">
        <p>
        {{post.content}}
        </p>
        <p>
          <a href="#" class="subdued">{{post.likes}} Like</a>
          <a href="#" class="subdued">{{post.comments}} Comments</a>
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Like
        </a>
        <a class="tab-item" href="#/topics/{{post.topic.id}}/post/{{post.id}}">
          <i class="icon ion-chatbox"></i>
          Comment
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>

    </div>
  </ion-content>
</ion-view>